.link-image {
    width: 300px;
}

.block {
    width: 300px;
    
    background-color: plum;
    margin-top: 40px;
}
.block-4 {
background-color: greenyellow;
}
.block-5 {
    background-color: coral;
}   
.block img {
    width: 100%;
}

