* {
  margin: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 100px;
  background-color: cornsilk;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.classHeder {
  height: 100%;
}
.Header-nav {
  display: flex;
  gap: 20px;
}
.Header-nav a {
  text-decoration: none;
  color: deeppink;
  font-size: 20px;
}
