* {
  margin: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 100px;
  background-color: cornsilk;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.classHeder {
  height: 100%;
}
.Header-nav {
  display: flex;
  gap: 20px;
}
.Header-nav a {
  text-decoration: none;
  color: deeppink;
  font-size: 20px;
}
.hidden-block { 
  width: 400px;
  height: 200px;
 
  background-color: royalblue;
  opacity: 0;
  transition: 1s;
  transform: scale(0) rotate(0);
  position: fixed; 
  right: -40px;
    top: -140px;
}
#check:checked ~ .hidden-block {
  opacity: 100%;
  transform: rotate(360deg);
  /* display: block; */
  top: 140px; 
}
.label-hidden {
  display: block;
  width: 21px;
  height: 5px;
  right: 20px;
  top: 100px;
  background-color: gold;
  border: 1px solid rgb(255, 247, 0);
  cursor: pointer;
  position: fixed ;
}
#check {
  display: none;
}
.label-hidden::after {
  content: "";
  display: block;
  width: 20px;
  height: 5px;
  background-color:darkolivegreen;
  position: absolute;
  top: -8px;
}
.label-hidden::before{
  content: "";
  display: block;
  width: 20px;
  height: 5px;
  background-color: orangered;
  position: absolute;
  top: 8px;
}
#check:checked ~ .label-hidden::after {
  transform: rotate(45deg);
  top: 0;
}
#check:checked~.label-hidden::before {
  transform: rotate(-45deg);
  top: 0;
  
}